$main-border-color: #d8d8d8;
$main-text-color: darken($main-border-color, 20%);

body {
	font-family: arial, sans-serif;
}

#root {
	width: 100%;
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

// React wrapper component
#root > div{
	width: 90%;
	min-height: 400px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

// Side bar
aside {
	margin: 5px;
	padding: 5px;
	border: 1px solid $main-border-color;
	display: flex;
	flex-direction: column;
}

aside h2 {
	font-size: 11pt;
	color: $main-text-color;
	flex-shrink: 0;
	padding: 3px;
	margin-right: 10px;
}

.selectElement {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin: 3px;
}

.selectElement select {
	border: 1px solid $main-border-color;
	height: 30px;
	padding: 5px;
	width: 100%;
}

.searchBox {
	display: flex;
}

.searchBox input {
	border: 1px solid $main-border-color;
	height: 30px;
	font-size: 14pt;
	margin: 3px;
	padding: 5px;
}

.searchBox button {
	border: 1px solid $main-border-color;
	background: #fff;
	color: $main-text-color;
	margin: 3px;
	height: 30px;

}

.searchHistory {
	padding: 10px;
	list-style-type: none;
}

.searchHistory li {
	padding: 10px;
	cursor: pointer;
	font-size: 14pt;
	color: $main-text-color
}

.searchHistory li:first-child{
	font-weight: bold;
	color: darken($main-text-color, 20%);
}

.searchHistory li:hover {
	text-decoration: underline;	
}


main {
	margin: 5px;
	border: 1px solid $main-border-color;
	display: flex;
	width: 100%;
}

.viewArea {

}

.viewArea--controls {
	display: flex;
}

.viewArea--images {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.viewArea--images li {
	width: 190px;
	height: 190px;
	margin: 3px;
	// background: #aaa;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.viewArea li img {
	max-width: 175px;
	max-height: 175px;
}