// Mixins
@import 'partials/mixins';
// Misc utilities: animations, very generic cross-project components, etc
@import 'partials/util';


$main-border-color: #d8d8d8;
$main-text-color: darken($main-border-color, 20%);
$dark-text-color: darken($main-text-color, 30%);

body {
	font-family: Arial, Helvetica, sans-serif;
}

// react mount point
#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

// everything wrapper
#outerWrap {
	width: 80%;
	margin-top: 5%;
}

// React wrapper component
#contentWrap {
	min-height: 400px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

@import 'partials/sideBar';
@import 'partials/viewArea';

// fill the page horizontally at < 960px view width
@media all and (max-width: 960px) {
	#outerWrap {
		width: 100%;
		margin-top: 0;
	}
}